/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@define-color highlight #5294e2 ;

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	font-family: monospace;
}

/* The whole bar */
#waybar {
	background: #0e0e0e;
	color: white;
}

/* Each module */

#battery,
#clock,
#backlight,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#custom-weather,
#network,
#pulseaudio,
#temperature,
#tray,
#idle_inhibitor,
#custom-PBPbattery{
	border-radius: 50px;
	background: #0e0e0e;
	padding: 5px 12px;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#battery.warning {
	color: orange;
}

#battery.critical {
	color: red;
}

#cpu.warning {
	color: orange;
}

#cpu.critical {
	color: red;
}

#memory {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#memory.warning {
	color: orange;
}

#memory.critical {
	color: red;
	animation-name: blink-critical;
	animation-duration: 2s;
	padding-left:5px;
	padding-right:5px;
}

#mode {
	background: @highlight;
	border-bottom: 3px transparent;
	color:white;
	margin-left: 5px;
	padding:7;
}

#network.disconnected {
	color: orange;
}

#pulseaudio.muted {
	color: @highlight; 
}

#temperature.critical {
	color: red;
}

#workspaces{
	background: #0e0e0e;
	border-radius: 50px;
	margin: 0;
}
#workspaces button {
	color: white;
	margin: 0;
}

#workspaces button.focused {
	color: black; background: #808080;
	margin: 0;
}

#workspaces button.urgent {
	border-color: #c9545d;
	color: black;
	margin: 0;
}

